.twitter-logo {
  width: 1em;
}

.twitter-btn {
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9em;
  transition: all 0.3s;
}
.twitter-btn:hover {
  transform: scale(1.1);
  transition: all 0.3s;
  cursor: pointer;
}

@media only screen and (max-width: 5000px) {
  .twitter-btn {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    transition: all 0.3s;
  }
  .twitter-btn:hover {
    transform: scale(1.5);
    transition: all 0.3s;
    cursor: pointer;
    width: 300px;
  }
}
